@using QLKFinal.Models
@model IEnumerable<QLKFinal.Models.Objectss>
@{
    ViewBag.Title = "Index";
}

<h2>Vật tư</h2>

<p>
    @Html.ActionLink("Thêm mới", "New", "Objectss", new {@class="btn btn-primary"})
</p>
<table id="objectss" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Mã vật tư</th>
        <th>Tên vật tư</th>
        <th>Số lượng</th>
        <th>Đơn vị</th>
        <th>Nhà cung cấp</th>
        <th>Xem thêm</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var objects in Model)
        {
            <tr>
                <td>@objects.Id</td>
                <td>@objects.DisplayName</td>
                <td>@objects.Count</td>
                <td>@objects.Unit.DisplayName</td>
                <td>@objects.Suplier.DisplayName</td>
                <td>@Html.ActionLink("Chi tiết", "Details", "Objectss", new {id = objects.Id}, null)   |<button data-objectss-id="@objects.Id" class="btn-link js-delete">Xóa</button></td>
            </tr>
        }
    </tbody>
</table>
<!--Jquery Code-->
@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#objectss").DataTable();

            $("#objectss").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Bạn chắc chắn muốn xóa vật phẩm này?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/objectss/" + button.attr("data-objectss-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
