@model QLKFinal.ViewModel.OrtherViewModel.UnitFormViewModel

@{
    ViewBag.Title = "Tạo mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo mới đơn vị</h2>

@using (Html.BeginForm("Save", "Unit"))
{
    @Html.ValidationSummary(true, "Vui lòng thêm tất cả các trường còn thiếu!")
    <div class="form-group">
        @Html.LabelFor(u => u.Unit.DisplayName)
        @Html.TextBoxFor(u => u.Unit.DisplayName, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Unit.DisplayName)
    </div>
    @Html.HiddenFor(u => u.Unit.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Lưu</button>
}