@model QLKFinal.Models.Suplier
@{
    ViewBag.Title = "Details";
}

<h2>@Model.DisplayName</h2>

<ul>
    <li>Tên: @Model.DisplayName</li>
    <li>Ngày gia nhập: @Model.ContractDate.Value.ToShortDateString()</li>
    <li>Địa chỉ liên hệ: @Model.Addresss</li>
    <li>Email: @Model.Email</li>
    <li>Số điện thoại liên lạc: @Model.PhoneNumber</li>
    <li>Thông tin khác: @Model.MoreInfo</li>
</ul>

<h4>Xem tất cả các mặt hàng của nhà cung cấp này tại @Html.ActionLink("đây!", "OfSuplieResult", "Suplier" , new {@Model.Id}, null)</h4>
