@model IEnumerable<QLKFinal.Models.Suplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhà cung cấp</h2>

<p>
    @Html.ActionLink("Thêm mới", "New", "Suplier", new {@class="btn btn-primary"})
</p>

<table id="supliers" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Số thứ tự</th>
        <th>Tên nhà cung cấp</th>
        <th>Email</th>
        <th>Ngày gia nhập</th>
        <th>Chi tiết</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var suplier in Model)
    {
        <tr>
            <td>@suplier.Id</td>
            <td>@Html.ActionLink(suplier.DisplayName, "Edit", "Suplier", new {id = suplier.Id}, null)</td>
            <td>@suplier.Email</td>
            <td>@suplier.ContractDate.Value.ToShortDateString()</td>
            <td>@Html.ActionLink("Chi tiết", "Details", "Suplier", new {id = suplier.Id}, null)</td>
            <td><button data-suplier-id="@suplier.Id" class="btn-link js-delete">Xóa</button></td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {

            var table = $("#supliers").DataTable();

            $("#supliers").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Bạn chắc chắn muốn xóa nhà cung cấp này?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/suplier/" + button.attr("data-suplier-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }

                                });
                            }
                        });
                });
        });
    </script>
}
