@model IEnumerable<QLKFinal.Models.Suplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhà cung cấp</h2>


<table id="supliers" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Số thứ tự</th>
        <th>Tên nhà cung cấp</th>
        <th>Email</th>
        <th>Ngày gia nhập</th>
        <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var suplier in Model)
    {
        <tr>
            <td>@suplier.Id</td>
            <td>@suplier.DisplayName</td>
            <td>@suplier.Email</td>
            <td>@suplier.ContractDate.Value.ToShortDateString()</td>
            <td>@Html.ActionLink("Chi tiết", "Details", "Suplier", new {id = suplier.Id}, null)</td>        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {

            var table = $("#supliers").DataTable();

            
        });
    </script>
}
<!--Operation: Các thao tác về đầu ra, đầu vào là gì?
    Method: Body-->
